body {
	font-family: helvetica;
	background-color: #EEEEEE;
	margin: 40px auto;
	padding: 20px 50px;
	line-height: 1.4;
	font: 18px;
	text-align: center;
	max-width: 1200px;
}

*:not(a):not(button)::selection { /* '*' means everything */
	background: gold;
}

a::selection, button::selection {
	background: none;
}

a, a.element {
	background-color: #EEEEEE;
	font-style: oblique;
	text-decoration: none;
	color: black;
	border: 1px solid grey;
	padding: 10px;
	transition: 0.5s;
}

a.buy:hover, a.sell:hover, .continue:hover {
	background-color: gray;
	color: white;
	transition: 0.5s;
}

a.buy, a.sell {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	background-color: lightgrey;
	display: table;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}


td, th {
	padding: 5px;
	text-align: center;
	border: 1px solid black;
}

div.tab {
	overflow: hidden;
	border: 2px solid grey;
	background-color: #EEEEEE;
	transition: 0.5s;
}

div.tab button {
	background-color: #EEEEEE;
	float: left;
	border: 1px solid black;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.5s;
	font-size: 17px;
}

div.tab button.tab_element:hover, div.resources_tab button, button:not(.tab_element){
	background-color: white;
	color: black;
	transition: 0.5s;
}

div.tab button.tab_element.active {
	background-color: #222222;
	color: white;
}

div.tab_content {
	border: 2px solid black;
	height: 1000px;
}

#hiddenDiv, #hidden, .hidden, .armyNode, #armySubmit, .element_row:not(#e0), .army_row:not(#a0), .upgrade_row:not(#default_row), .tab_content:not(.default), .resource_content:not(.default) {
	display: none;
}

table#resource_table {
	display: table;
	float: left;
	text-align: center;
	padding-left: 50px;
	margin-left: 30px;
}


#resource_table tr:nth-child(even), #upgrades_table tr:nth-child(even){
	background-color: #EEEEEE;

}

li {
	text-align: left;
}

h3.producer_header {
	font-size: 120%;
	text-align: left;
	padding-left: 30px;
}

